SUPABASE_URL="http://127.0.0.1:54321"
SUPABASE_SERVICE_ROLE_KEY=""
BOOKING_TOKEN_SECRET=""
INTERNAL_API_TOKEN=""

BOOKING_BASE_URL="http://127.0.0.1:8787"
BOOKING_CALENDAR_ID="podcast@christophholz.com"
BOOKING_LINK_TTL_SECONDS="2592000"

GOOGLE_SERVICE_ACCOUNT_EMAIL=""
GOOGLE_SERVICE_ACCOUNT_PRIVATE_KEY=""
GOOGLE_TOKEN_URI="https://oauth2.googleapis.com/token"
GOOGLE_IMPERSONATED_USER="speaker@christophholz.com"
GOOGLE_CALENDAR_IMPERSONATED_USER="christoph@christophholz.com"
GMAIL_PUBSUB_TOPIC_NAME="projects/<project-id>/topics/<topic-name>"
GMAIL_PUSH_VERIFICATION_TOKEN=""
GMAIL_WATCH_RENEWAL_BUFFER_SECONDS="43200"
GMAIL_WATCH_LABEL_IDS=""
GMAIL_WATCH_LABEL_FILTER_ACTION="include"

INTERNAL_TEAM_EMAIL_DOMAINS="christophholz.com"
OPENROUTER_API_KEY=""
WOODY_OPENROUTER_MODEL="openai/gpt-4.1-mini"
WOODY_OPENROUTER_TIMEOUT_MS="25000"
WOODY_SUPPORTED_LANGUAGES="english,en,german,de,french,fr,spanish,es"

GMAIL_RECONCILE_PUSH_STALE_SECONDS="21600"
GMAIL_RECONCILE_SYNC_STALE_SECONDS="7200"
GMAIL_RECONCILE_RETRY_COOLDOWN_SECONDS="900"

TELEGRAM_BOT_TOKEN=""
TELEGRAM_CHAT_ID=""
